@keyframes line {
    0% {
        transform-origin: left;
        transform: scaleX(0);
    }

    100% {
        transform-origin: left;
        transform: scaleX(1);
    }
}

@keyframes l4-1 {

    0%,
    40% {
        transform: rotate(0)
    }

    80%,
    100% {
        transform: rotate(.5turn)
    }
}

@keyframes l4-2 {

    80%,
    100% {
        box-shadow: 16px 0 #FFB400
    }
}