/* Color Filter */
.clr-yellow {
  filter: brightness(0) saturate(100%) invert(70%) sepia(77%) saturate(2010%) hue-rotate(359deg) brightness(104%) contrast(102%);
  -webkit-filter: brightness(0) saturate(100%) invert(70%) sepia(77%) saturate(2010%) hue-rotate(359deg) brightness(104%) contrast(102%);
}

.square {
  @apply absolute border-2 border-blue-500 size-4 animate-ping;
}

.circle {
  @apply absolute border-2 rounded-full size-4 border-green animate-bounce;
}

.circle-online {
  @apply absolute border-2 rounded-full size-4 border-green animate-pulse;
}

.triangle {
  @apply absolute border-x-8 border-x-transparent border-b-[16px] border-b-primary animate-spin;
}

.icon {
  @apply p-0.5 rounded-full bg-primary cursor-pointer;
}

.line {
  @apply w-40 border border-clr-f0;
}

.information {
  @apply flex items-center justify-between py-2 gap-x-6;
}

[max] {
  @apply overflow-hidden border rounded-full border-primary;
}

.flex-center {
  @apply flex items-center justify-center;
}

.loader {
  width: 16px;
  aspect-ratio: 1;
  background: #FFB400;
  box-shadow: 30px 0 #FFB400;
  animation: l4-1 1s infinite alternate, l4-2 .5s infinite alternate;
  -webkit-animation: l4-1 1s infinite alternate, l4-2 .5s infinite alternate;
}